@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>skandia:hackathon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/landingpage.css" />
</head>
<body>
    <div class="text-center">
        <h1 style="color: #008c67;">skandia:hackathon</h1>
    </div>
</body>
</html>
