@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>skandia:hackathon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <img class="pageBackground" src="../images/img_1302_small_bw.jpg" alt="codeinthedark" />
    <div class="landingPageWrapper bg-black">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h1 class="color-skandia landingPageHeading font-weight-bold">skandia:hackathon</h1>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-6 text-center">
                    <h1 class="color-white landingPageDate font-weight-bold">5-6 mars</h1>
                </div>
                <div class="col"></div>
            </div>
            <div class="row mt-4 text-center underline">
                <div class="col">
                    <a href="/home/information">Information</a>
                </div>
                <div class="col">
                    <a href="/home/inspiration">Inspiration</a>
                </div>
                <div class="col">
                    <a href="/home/projects">Projekt</a>
                </div>
                <div class="col">
                    <a href="/home/previoushackathons">Föregående Hackathons</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
