@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>skandia:hackathon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/landingpage.css" />
</head>
<body>
    <div class="landingPageWrapper">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-6 text-center">
                    <h1 class="color-skandia landingPageHeading">skandia:hackathon</h1>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-5"></div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</body>
</html>
