/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
  /* Margin bottom by footer height */
  background-color: #ddd;
  margin-bottom: 60px;
}

a { color:#fff !important; }
a:hover { color:#008c67 !important; }

.underline { text-decoration: underline; }

/* COLORS */
.color-skandia { color: #008c67 !important; }
.color-white { color:#fff !important; }

.bg-black { background-color: #000; }

/* LANDING PAGE */
.landingPageWrapper { padding:50px 0px; margin-top: 280px; opacity:0.7; }
.landingPageHeading { font-size: 50px; }
.landingPageDate { font-size: 20px; }

/* NAVIGATION */
.topHeader { padding:3px 0 8px 0; width:100%; opacity: 0.7; } 
.topHeading { font-size: 30px; }
.side-nav { position:absolute; left:0; top:200px; opacity: 0.7; padding:20px 80px 20px 10px; }
.side-nav .row { padding:5px 0; }


.pageBackground { width:100%; position: absolute; top:0; left:0; overflow: hidden; }

.container-wrapper { margin-top: 440px; opacity: 0.7; min-height: 400px; }
main {}



/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background: #d8d1ca;
  border: 1px solid #bcb0a7;
}
